@charset "UTF-8";
/* CSS Document */

@import "singularitygs";
@import "fontawesome";
@import "breakpoint";
@import "base";
@import "bootstrap";

.modal {
    .modal-content {
        background-color: #2b3a41;
        border-radius:0px;
        padding: 30px;
        text-align: center;
    }
   
    h1 {
        font-family: $minion;
        color:$yellow;
        text-transform: capitalize;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.02em;

    }
    p {
        color: white;
        font-size: 18px;
    }
    i.fa-times {
        position: absolute;
        top: 15px;
        right: 15px;
        color:white;
    }

    button {
        margin-top: 30px;
        @extend .btn;
        display: inline-block;
        color: $yellow;
        font-family: $proxima;
        text-transform: uppercase;
        font-weight: 700;
        &.print {margin-right: 15px;}
    }

    form {
        margin-top: 30px;
        margin-bottom: 10px;
        input {
            border: none;
            outline: none;
            height: 40px;
            padding: 0px 10px;
            width: 70%;
            float: left;
        }
        input.submit {
            width: 30%;
            float: left;
            margin: 0px;
            height: 40px;
        }

        &:after {
            content: " ";
            display: block;
            clear:both;
        }
    }

    /*.share {
        margin-top: 30px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-weight: 600;
        line-height: 40px;
        font-family: $proxima;

        h4 {
            display: inline;
            margin-right: 5px;
        }

        i {
            display: inline-block;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid white;
            @include border-radius(50px);
            margin: 0px 5px;
            color: white;
        }
    }*/
}

.front {
    header {
        background:none;
        img {
            margin: 0 auto; 
            float: none;
            display: block;
        }
    }

    .main {
        margin: 10% auto 0px auto;
        padding: 0px 20%;
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        max-width: 960px;


        .divider {
            display: block;
            height: 1px;
            width: 150px;
            background-color: $tan;
            margin: 20px auto;
        }

        h1 {
            font-size: 60px;
            color: $yellow;
            font-style: italic;
            font-family: $minion;
            text-transform: capitalize;
            font-weight: normal;
            letter-spacing: 0.02em;
        }
        p {
            font-size: 22px;
            line-height: 30px;
            color: white;
            font-family: $minion;
        }

        .btn {
            margin: 25px auto 0 auto;
            float: none;
            padding: 20px 30px;

        }
    }
}


.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0,0,0,0.7);
    background: url(images/loading.gif) no-repeat center center; /* Loading Gif by http://preloaders.net/ */
    height: 32px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 32px; 
    z-index: 0;
   
    @include breakpoint($tab) {position: fixed;}
}

.vegas-overlay {
    background: transparent url(overlays/01.png);
    opacity: 0.5;
    z-index: -1;
}

.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
    z-index: -2;
    position: absolute;
    @inlcude .background-cover;
}

.vegas-overlay,
.vegas-background {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}



header {
    width: 100%;
    height: 100px;
    background: url('../images/bkg.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    img {
        width: auto;
        height: 100px;
        float: left;
    }

    a.btn.done {
        float: right;
        height: 100%;
        width: 100px;
        padding:0px;
        margin: 0px;
        line-height: 100px;
        text-align: center;
        font-weight: 800;
        font-size: 16px;
    }

    h1 {
        font-family: $minion;
        color:$tan;
        font-size: 35px;
        float: left;
        letter-spacing: 0.02em;
        font-style: italic;
        padding-left: 20px;
        line-height: 100px;
        font-weight: 200;
        text-transform: inherit;
    }
}
#clothing-designer {
    max-height: 768px;
    overflow: hidden;
}

.fpd-sidebar {
    background-color: rgba($tan, 0.3);
    border-width: 0px;
    height: 600px!important;
}

.fpd-navigation {
    width: 100%!important;
    float: none;
    background-color: $pink;

    a {
        display: block;
        width: 33.3333%;
        float: left;
        text-align: center;
        color: $yellow;
        padding: 5% 0px;
        position: relative;


        i {font-size: 25px;}
        span { 
            font-family: $proxima;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            font-size: 11px;
            margin-top: 7px;
            display: block;
            width: 100%;
            text-decoration: none;
        }
    }

    a.active {
        background-color: darken($pink, 10%);
        color:$yellow;
        text-decoration: none;
        &:hover {text-decoration: none;}
        &:after {
            display: block;
            height: 10px;
            width: 20px;
            margin: 0 auto;
            content: " ";
            position: absolute;
            bottom: -8px;
            left:0;
            right:0;
            background: url('../images/arrow.png') center no-repeat;
            background-size:15px;
            z-index: 9999999;
        }
    }

    .chosen-search {display: none;}   
}

.fpd-content {
    width:100%!important;
    height: 100%;
    position: relative;
    padding-top: 20px!important;
    overflow: hidden;

    .fpd-designs .fpd-items-wrapper {
        overflow: scroll;
        max-height: 420px;
        -webkit-overflow-scrolling: touch;
    }
    .fpd-items-wrapper > picture {
        border-right:1px solid rgba($tan,0.9);
        border-bottom:1px solid rgba($tan,0.9);
        width: 50%;
        height: 70px;
        float: left;
        cursor: pointer;
        position: relative;
    }

    .fpd-items-wrapper > picture > img,
    .fpd-views-selection div img {
        max-height: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        padding: 10px;
    }
    .chosen-container {
        width: 100%!important;
    }

    .fpd-text-styles i {
        font-size: 25px;
        margin-right: 15px;

    }

    .fpd-helper-buttons-wrapper {
        i {
            font-size: 25px;
            margin-right: 15px;
        }
        svg {
            width: 25px!important;
            height: 25px!important;
            margin-right: 15px;
        }
    }

    .chosen-search {display: none;}

}


.fpd-product-container {
    height:auto!important;
    position: relative;

    .canvas-container {width:100%!important;}
    .fpd-views-selection {display: none!important;}

    > .fpd-product-loader {
        display: none!important;
    }

    > .fpd-product-stage {
        //background-image: url("../images/fpd/grid.png");
        //background-repeat: repeat;
        position: relative;
        height: 600px!important;
        width: 100%;
        overflow: hidden;
    }

    
}


.main {
    margin-top: -30px;
}

.fpd-border-color {
    border-color: rgba($tan, 0.8);
}





/* RESET */
.fpd-container section,
.fpd-container div,
.fpd-container select,
.fpd-container picture,
.fpd-container input,
.fpd-container img,
.fpd-container button,
.fpd-container span {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
    list-style-type: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: none;
}

.fpd-product *, .fpd-design * {
    display: none;
}

.fpd-design img {
    display: none;
}

.fpd-initiliazing {
    font-size: 18px;
    font-weight: bold;
    margin: 60px 0;
    text-align: center;
}

.fpd-initiliazing img {
    margin-top: 10px;
}




/* EDIT ELEMENTS */

/* TOOLBAR IN EDIT ELEMENTS */

.fpd-edit-elements > .fpd-toolbar {
    height: auto;
    width: 100%;
}

.fpd-toolbar > div {
    padding: 10px 15px;
}

/* COLORPICKER */
.fpd-color-picker .sp-replacer {
  border: none;
  background: none;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
}

.fpd-color-picker > .sp-replacer {
    width: 100%;
}

.fpd-color-picker .sp-preview {
    border: none;
    height: 25px;
    width: 100%;
}

.fpd-color-picker .sp-dd {
    display: none !important;
}

.sp-input {
    border-width: 1px !important;
    background: #fff !important;
}

.sp-container {
    border-color: #D3D3D3 !important;
}

.fpd-color-picker.fpd-colorpicker-group .sp-replacer {
    width: 21px;
    margin: 0 2px 2px 0;
}


/* PATTERNS */

.fpd-toolbar .fpd-patterns-wrapper {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}
.fpd-patterns-wrapper .fpd-pattern-items {
    position: relative;
    overflow: hidden;
    height: 39px;
}

.fpd-pattern-items > div {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    padding: 0 2px 2px 0;
    cursor: pointer;
}

.fpd-pattern-items > div img {
    width: 100%;
    height: 100%;
}


/* TEXT FORMAT SECTION */

.fpd-toolbar .fpd-text-format-section > div {
    margin-bottom: 10px;
}

.fpd-toolbar .fpd-text-format-section > div:last-child {
    margin-bottom: 0;
}

.fpd-toolbar .fpd-text-styles > .fpd-button:last-child {
    margin-right: 0;
}

/* TEXTAREA */

.fpd-toolbar textarea {
    border-width: 1px;
    border-style: solid;
    resize: none;
    width: 100%;
    height: 65px;
    padding: 5px;
}


/* CURVED TEXT */
.fpd-curved-text-wrapper button {
    margin-bottom: 5px;
}

.fpd-curved-text-wrapper input {
    width: 100%;
}


/* BROWSER ALERT */
.fpd-browser-alert {
    padding: 10px !important;
}

.fpd-browser-alert > p {
    font-size: 14px;
}

.fpd-browser-alert a {
    margin-right: 20px;
    text-decoration: underline;
    color: white !important;
}


/* EDITOR BOX */

.fpd-editor-box {
    width: 300px;
    padding: 10px;
    margin: 40px 0;
    background: #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #3A87AD;
}

.fpd-editor-box > h3 {
    margin: 0 0 10px;
    font-size: 18px;
}


/* LAYOUTS */

/* Flat-Icon Vertcial Layout */


.fpd-icon-sb-left .fpd-sidebar > div {
    float: left;
}

.fpd-icon-sb-top .fpd-sidebar {
    margin-bottom: 40px;
}

.fpd-icon-sb-right .fpd-product-container {
    margin-right: 40px;
}

.fpd-icon-sb-right .fpd-sidebar > div {
    float: right;
}

/* Horinzontal Layout */

.fpd-horizontal > section {
    float: none;
}

.fpd-horizontal h3 {
    margin-bottom: 20px;
}

.fpd-horizontal > .fpd-sidebar > .fpd-content {
    min-height: 250px;
}

.fpd-horizontal > .fpd-sidebar > div {
    width: 100%;
}

.fpd-horizontal > .fpd-sidebar .fpd-nav-item {
    float: left;
    padding: 0 20px;
    width: auto;
}

.fpd-horizontal .fpd-items-wrapper {
    height: 250px;
}

.fpd-horizontal .fpd-items-wrapper > picture {
    width: 33.3%;
    height: 50%;
    padding: 20px;
}

.fpd-horizontal .fpd-edit-elements {
    overflow: visible;
}

.fpd-horizontal .fpd-edit-elements h3 {
    float: left;
    line-height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.fpd-horizontal .fpd-edit-elements .fpd-elements-dropdown-wrapper {
    display: inline-block;
    width: 200px;
}

.fpd-horizontal .fpd-toolbar {
    clear: both;
}

.fpd-horizontal .fpd-toolbar > div {
    float: left;
    padding-right: 20px;
    width: 25%;
}

.fpd-horizontal .fpd-fb-user-photos > .fpd-fb-head,
.fpd-horizontal .fpd-instagram-photos > .fpd-insta-head {
    height: auto;
}

.fpd-horizontal .fpd-fb-user-photos > .fpd-fb-head > div > * {
    display: inline-block;
    float: left;
}


.fpd-horizontal .fpd-fb-user-photos .fpd-items-wrapper,
.fpd-horizontal .fpd-instagram-photos .fpd-items-wrapper {
    height: 200px;
}

.fpd-horizontal .fpd-fb-user-photos .fpd-items-wrapper picture,
.fpd-horizontal .fpd-instagram-photos .fpd-items-wrapper picture {
    height: 50px;
    width: 20%;
    padding: 5px;
}

.fpd-horizontal .fpd-insta-head > div > * {
    width: auto;
    display: inline-block;
}


/* SCROLLBAR */

.ps-container .ps-scrollbar-y-rail {
    width: 6px !important;
    z-index: 100;
    margin-right: 0 !important;
}

.ps-container .ps-scrollbar-x-rail {
    height: 6px !important;
    z-index: 100;
}

.ps-container .ps-scrollbar-y,
.ps-container .ps-scrollbar-x {
    cursor: all-scroll;
    display: none;
}

.ps-container .ps-scrollbar-y {
    width: inherit !important;
}

.ps-container .ps-scrollbar-x {
    height: inherit !important;
}


/* HELPERS */

.fpd-clearfix:before, .fpd-clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.fpd-clearfix:after { clear: both; }
.fpd-clearfix { zoom: 1; }
.fpd-clear {clear: both;}
.fpd-hidden {display: none;}
.fpd-fullwidth {width: 100%;}
.fpd-help-icon {cursor: help;}
.fpd-float-items > div {float: left;}
.fpd-container .fa { font-family: FontAwesome !important; }
.fpd-container .fpd-loading {
    display: none;
}


